/* DECLARACION DE VARIABLES */
:root{
    --ColorBotones:rgb(80, 80, 80);
}

/* GENERALES */
*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-image: url("../img/bg-body.png"); 
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    padding: 10px;
}
/* HEADER */
header{
    text-align: center;
    margin-bottom: 30px;
}
header .logo{
    width: 180px;
    margin:15px 0 30px 0;
    border-radius: 90px;
} 
header .toggle-nav{
    display:block;
    margin-bottom: 30px;
    
}
header .toggle-nav span{
    background-color: var(--ColorBotones);
    padding: 5px;
} 

header nav.main-nav li{
    background-color:var(--ColorBotones);
    border: 1px solid white;
    padding: 5px;
}

/* BANNER */
section.banner img{
    display: none;
}
/* SECCTION PRODUCTO */
.container section.vip-products article{
    margin-bottom: 30px;
}
.container section.vip-products article .photo-container{
    position: relative;
}
.container section.vip-products article .photo{
    width:100%;
}
.container section.vip-products article .special{
    position: absolute;
    top:0px;
    right: 10px;
}
.container section.vip-products article .zoom{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    top: 45%;
    padding: 5px;
}
.container section.vip-products article.product h2{
    margin: 15px 0;
} 
.container section.vip-products article.product p{
    margin-bottom: 15px;
}
.container section.vip-products article.product a.more{
    background-color:var(--ColorBotones);
    padding: 5px;
    text-transform: lowercase;
} 
/* FOOTER */

.container footer li{
    background-color: firebrick;
    text-align:center;
    border:1px solid white;
    padding: 10px;
}
/* MEDIA QUERIES */


/* VERSION TABLET */

@media(min-width:426px){
    header{
        margin-bottom: 20px;
    }
    .container header .toggle-nav{
        display:none;
    }
    header nav.main-nav li{
        display: inline-block;
        width:117px;
        
    }
    header nav.main-nav li:not(:last-child){
        margin-right:4px;
    }
    /* BANNER */
    section.banner img{
        display: block;
        width:100%;
        margin-bottom: 30px;
    }
    .container section.vip-products{
        overflow: hidden;
    }
    .container section.vip-products article{
        float:left;
        width:48%;
    }
    .container section.vip-products article:nth-child(odd){/* nth-child(odd) == uno si, uno no */
        margin-right:4%;
    }
}
/* VERSION ESCRITORIO */
@media(min-width:769px){
    .container{
        max-width: 1180px;
    }
    header nav.main-nav ul{
        overflow: hidden;
        width: 100%;
    }
    header nav.main-nav li{
        width:180px;
        float: left;
        margin-right: 0;
    }
    .container section.vip-products article{
        width: 380px;
        margin-right: 20px;
    }
    .container section.vip-products article:nth-child(3n){
        margin-right:0;
    }
    .container section.vip-products article:nth-child(odd){
        margin-right: 0%;
    }
    
}   